:root{
    --primary: #15468a;
    --background: #ffffff;
    
    --basic_blue: #15468a;
    --basic_green:#93ba22;

    --blue_osc:#212d57;
    --blue_osc_w:#3a87ad;
    --blue_white:#d9edf7;
    --blue_charlotte:#bce8f1;
}

.encabezado{
    background: var(--primary);
}

.form-select{
    box-shadow: none !important;
}

.card-title{
    color: var(--primary);
    font-weight: bold;
    text-transform: uppercase;
    margin: auto 0;
}

.card-header{
    background:#fff!important;
    width: 100%;
}

input{
    box-shadow: none !important;
}
.card-tools{
    padding: 10px 150px 10px 150px;
    

}
.iconos {
    color:black;
    font-size: 1rem;
    padding-left: 5px;
}

.iconos i{
    color:black;
    font-size: 1.1rem;
}

.estado{
    pointer-events: none;
}

.cambiar-estado:hover{
    color: #0d6efd;
}

.iconos:hover{
    color: #0d6efd;
}
.iconos i:hover{
    color: #0d6efd;
}

a{
    text-decoration: none;
    color: black;
}