.card-info {
  background-image: url("/img/background/backadround-03-mini.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-primary {
  background-color: var(--color-primary);
  border: none;
}

.btn-secondary {
  background-color: transparent;
  border: none;
  color: var(--color-primary);
}

.file-upload-component .p-button {
  background-color: rgba(128, 128, 128, 0.062);
  border: 0;
  padding: 0.5rem 1rem;
  color: rgb(83, 83, 83);
  font-weight: lighter;
}

body {
  background-image: url(/img/background/backadround-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: initial;
}

footer{
  padding: 0;
}

.admin{
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 1fr;
}


.menu-navbar .p-menubar {
  background-color: transparent;
  border: 0;
  font-size: 14px;
}
/*
#Container element.
*/

/*
List element.
*/
.aside-admin .p-menuitem {
}

/*
Menuitem element.
*/
.aside-admin .p-menuitem-text {
  color: var(--color-primary);
}
/*
Label of a menuitem.
*/
.aside-admin .p-menuitem-icon {
  color: var(--color-secondary);
}
/*
Icon of a menuitem.
*/
.aside-admin .p-submenu-icon {
}


.dashboard-admin{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr;
  gap: 1rem;
}

.dashboard-admin .charts{
  grid-column: 1/5;
}